:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: #7a6685;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.5vw;
}

.hero {
    background-image: url(../assets/images/portfolio-hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 350px;
    background-position: bottom;
}

.hero-hook {
    width: 50%;
    text-align: left;
    margin: 3.5%;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.5;
    text-shadow: 2px 0px rgba(255, 255, 255, 25%);
}

.hero-hook p {
    font-style: italic;
}

.site-img-1 {
    background-image: url(../assets/images/nuitviolette.jpg);
}

.site-img-2 {
    background-image: url(../assets/images/oneofyourfrenchgirls.jpg);
}

.site-img-3 {
    background-image: url(../assets/images/runbuddy.jpg);
}

.site-main-img {
    background-image: url(../assets/images/sustainability.jpg);
}