:root {
    --primary-color: #000;
    --secondary-color: rgb(243, 236, 236);
    --tertiary-color: #1d171b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--tertiary-color);
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.8vw;
}

header nav ul li a:hover {
    color:rgba(248, 167, 85, 0.8)
}

.hero {
    background-image: url(../assets/images/portfolio-hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 350px;
    background-position: bottom;
}

.hero-hook {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    color: var(--primary-color);
    font-size: 17px;
    line-height: 1.5;
    text-shadow: 2px 0px rgba(255, 255, 255, 25%);
    
}

.hero-hook h2 {
    font-weight: bold;
    margin-bottom: 8px;
}

.hero-hook p {
    font-style: italic;
}

.intro {
    background-color: var(--tertiary-color);
}

.section-title {
    color: var(--secondary-color);
    font-size: 28px;
    border-bottom: 2px solid rgba(248, 167, 85, 0.693);
    padding: 30px 30px 10px 20px;
    margin-top: 5px;
    display: inline-flex
}

.intro-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: 300px;
    padding: 35px;
    border-radius: 50%;
    margin: 50px 50px 0 20px;
}

.intro-text {
    flex: 1;
    line-height: 1.7;
    text-align: justify;
    margin-right: 8%;
}


.site-other {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.site-img {
    position: relative;
}

.site-img img {
    height: 350px;
    width: 30%;
    min-width: 350px;
    padding: 5px;
    margin: 0 17px 34px 17px;
    opacity: 0.8;
}

.site-img img:hover {
        opacity: 1;
        background-color: rgba(248, 167, 85, 0.8);
}

.site-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    margin-right: 20px;
}

.main-img {
    width: 95%;
}

.main-img img {
    width: 100%;
    margin: 40px 10px 10px 10px;
    justify-content: center;
}

.site-title {
    text-decoration: none;
    color: var(--primary-color);
    position: absolute;
    bottom: 52px;
    left: 32px;
    background-color: rgba(248, 167, 85, 0.8);
    padding: 10px;
} 

.main-title {
    bottom: 30px;
    left: 26px;
}

.contact-info ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 20px 20px 40px 20px;
    font-size: 18px;
}

.contact-info ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-info ul li a:hover {
    color:rgba(248, 167, 85, 0.8)
}